ALTER TABLE TANVIR.TCX_TEAM_PROJECTS
  DROP CONSTRAINT TCX_TEAM_PROJ_CONFIG_FK;


ALTER TABLE TANVIR.TCX_TEAM_PROJECTS ADD (
  CONSTRAINT TCX_TEAM_PROJ_CONFIG_FK 
  FOREIGN KEY (CONFIG_ID) 
  REFERENCES TANVIR.TCX_CONFIG (CONFIG_ID));
